# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
- List popular languages for Data Science
- List of libraries used by Data Scientists
- Data Science tools
- arithmetic expression

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. matplotlib 
2. TensorFlow
3. Pandas

|Data Science Tools|
---------------------
|Jupyter|
|Rstudio|
|Github|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
idriss sekkak